<%= form_for(@feed, :url => url_for(:controller => "feeds", :action => "check_input"), :method => "get") do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>
    <div class="field">
      <%= f.label :link, "Feed URL" %>
      <span>
        <%= f.text_field :link,:autofocus => true, :class => "form-control normal-text-field", :placeholder => "Search or add a Feed URL"  %>
        <%= f.submit "Go", class: "btn btn-primary go-button" %>
      </span>
    </div>
  </h2>
  <!-- <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div> -->
<% end %>
