<p id="notice"><%= notice %></p>
<h1><%= @feed.title%></h1>
<hr>
<h3>Description</h3>
<p><%= @feed.description%></p>
<% @feed.feed_items.latest.each do |feed_item|%>
<div class = "one-feed">
  <p>
    <strong>
      <%= link_to "#{feed_item.name}", "#{feed_item.url}", :target => "_blank"%>
      </a>
    </strong>
  </p> 
  <p>
    <%=raw feed_item.summary %>
  </p>
  </div>
<% end %>