<p id="notice"><%= notice %></p>
<h1><% @feed.description%></h1>
<% @feed.feed_items.latest.each do |feed_item|%>
<div class = "one-feed">
  <p>
    <strong>
      <a href = "<%= feed_item.url%>" >
        <%= feed_item.name %>
      </a>
    </strong>
  </p>  
  <p>
    <%=raw feed_item.summary %>
  </p>
  </div>
<% end %>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
