<p id="notice"><%= notice %></p>
<% @feed.feed_items.each do |feed_item|%>
  <p>
    <strong>
    <a href = "<%= feed_item.url%>" >
      <%= feed_item.name %>
      </a>
    </strong>
  </p>  
  <p>
    <%=raw feed_item.summary %>
  </p>
<% end %>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
