<!DOCTYPE html>
<html>
<head>
  <title>RSS Feeder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class = "row">
	 	<div id = "header" class="col-md-12">
	 		<nav class="navbar navbar-default" role="navigation">
  				<div class="container-fluid">
  					<h1><a href="/">Feedster </a></h1>
  					<ul>
	 					<% if user_signed_in?%>
	 						<li class="sign-out"><%= link_to "sign out", "/users/sign_out", :method => "delete" %></li>
	 					<% else %>
	 						<li class="btn btn-primary"><%= link_to "sign in", "/users/sign_in" %></li>

	 					<% end %>
	 				</ul>
	 				<div class="rss-searchbar">
	 					<%= render :partial=> "form"%>
	 				</div>
	 			</div>
	 		</nav>			
	 	</div>
	 	<div class="categories">
	 		<%= render :partial=> "layouts/categories"%>
	 	</div>
	 </div>

	<div class = "row">
		<% if user_signed_in? %>
		<div id = "side-bar" class="col-md-4">
			<p class="log-in-message"> You are logged in as <%= current_user.email%></p>
			<%= render "layouts/sidebar" %>
		</div>
		<div id = "main-content" class="col-md-8">
		<% else %>
			<div id = "main-content" class="col-md-12">
		<% end%>
			<%= yield %>
		</div>
	</div>
	<div class="row">
		<div id="footer" class="col-md-1">
			Footer	
		</div>
	</div>
</div>


</body>
</html>
