<!DOCTYPE html>
<html>
<head>
  <title>RSS Feeder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class = "row">
	 	<div id = "header" class="col-md-1">
	 		Header
	 		<% if user_signed_in?%>
	 			<%= link_to "sign out", "/users/sign_out", :method => "delete" %>
	 		<% else %>
	 			<%= link_to "sign in", "/users/sign_in" %>
	 		<% end %>
	 	</div>
	 </div>

	<div class = "row">
		<div id = "main-content" class="col-md-12">
		<% if flash[:notice] %>
    		<div class="notice"><%= flash[:notice] %></div>
  		<% end %>
			<%= yield %>
		</div>
	</div>
	<div class="row">
		<div id="footer" class="col-md-1">
			Footer	
		</div>
	</div>
</div>


</body>
</html>
